<!-- All the cards have been changed to card-custom to inhibit materialize -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel="stylesheet" href="css/icon-font.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" type="image/png" href="img/favicon.ico">

  <title>Mass | Towards Excellence</title>
</head>

<body>
  <header class="header" id="header">
    <a href="user.html">
      <div class="header-logo-box">
        <img src="img/favicon.ico" alt="Logo" class="header-logo">
      </div>
    </a>
    <div class="header-text-box">
      <h1 class="heading-primary">
        <span class="heading-primary-main">&#160;MASS</span>
        <span class="heading-primary-sub">Towards Excellence</span>
      </h1>
      <a href="class-admin.html" class="butn butn-white butn-animated">View The Class</a>
    </div>
  </header>
  <main>
    <section class="section-subject" id="section-subject">
      <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">
          Most popular Topics!
        </h2>
      </div>

      <div class="row">
        <div class="col-1-of-3">
          <div class="card-custom">
            <div class="card-custom-side card-custom-side-front">
              <div class="card-custom-picture card-custom-picture-1">
                &nbsp;
              </div>
              <h4 class="card-custom-heading">
                <span class="card-custom-heading-span card-custom-heading-span-1"> Chemistry class 8</span>
              </h4>
              <div class="card-custom-details">
                <ul>
                  <li>Experimental Challenges</li>
                  <li>Up to 30 hours of reading</li>
                  <li>2 assessments</li>
                  <li>Daily Quizzes</li>
                </ul>
              </div>
            </div>
            <div class="card-custom-side card-custom-side-back card-custom-side-back-1">
              <div class="card-custom-cta">
                <div class="card-custom-price-box">
                  <p class="card-custom-price-only">Students</p>
                  <p class="card-custom-price-value">7</p>
                </div>
                <a href="subject-admin.html" class="butn butn-white">Review Now!</a>
              </div>
            </div>
          </div>
        </div>


        <div class="col-1-of-3">
          <div class="card-custom">
            <div class="card-custom-side card-custom-side-front">
              <div class="card-custom-picture card-custom-picture-2">
                &nbsp;
              </div>
              <h4 class="card-custom-heading">
                <span class="card-custom-heading-span card-custom-heading-span-2"> Physics class 10</span>
              </h4>
              <div class="card-custom-details">
                <ul>
                  <li>Experimental Challenges</li>
                  <li>Up to 30 hours of reading</li>
                  <li>2 assessments</li>
                  <li>Daily Quizzes</li>
                </ul>
              </div>

            </div>
            <div class="card-custom-side card-custom-side-back card-custom-side-back-2">
              <div class="card-custom-cta">
                <div class="card-custom-price-box">
                  <p class="card-custom-price-only">Students</p>
                  <p class="card-custom-price-value">11</p>
                </div>
                <a href="subject-admin.html" class="butn butn-white">Review Now!</a>
              </div>
            </div>
          </div>
        </div>


        <div class="col-1-of-3">
          <div class="card-custom">
            <div class="card-custom-side card-custom-side-front">
              <div class="card-custom-picture card-custom-picture-3">
                &nbsp;
              </div>
              <h4 class="card-custom-heading">
                <span class="card-custom-heading-span card-custom-heading-span-3"> Computer Class 12</span>
              </h4>
              <div class="card-custom-details">
                <ul>
                  <li>Experimental Challenges</li>
                  <li>Up to 30 hours of reading</li>
                  <li>2 assessments</li>
                  <li>Daily Quizzes</li>
                </ul>
              </div>

            </div>
            <div class="card-custom-side card-custom-side-back card-custom-side-back-3">
              <div class="card-custom-cta">
                <div class="card-custom-price-box">
                  <p class="card-custom-price-only">Students</p>
                  <p class="card-custom-price-value">14</p>
                </div>
                <a href="subject-admin.html" class="butn butn-white">Review Now!</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="u-center-text u-margin-top-big u-margin-bottom-big">
        <a href="class-admin.html" class="butn butn-orange ">View All Classes!</a>
      </div>
    </section>
  </main>
  <footer class="foot">
    <div class="foot-logo-box">
      <img src="img/favicon.ico" alt="Logo" class="foot-logo">
    </div>
    <div class="row">
      <div class="col-1-of-2">
        <div class="foot-navigation">
          <ul class="foot-list">

            <li class="foot-item">
              <a href="class-admin.html" class="foot-link">Class</a>
            </li>
            <li class="foot-item">
              <a href="#" class="foot-link">About Us</a>
            </li>
            <li class="foot-item">
              <a href="#" class="foot-link">Contact Us</a>
            </li>
            <li class="foot-item">
              <a href="#" class="foot-link">Terms</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-1-of-2">
        <p class="foot-copyright">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione amet maiores veniam, soluta quibusdam
          consectetur exercitationem
          corporis perferendis quia porro dolore dolorem aliquam unde asperiores numquam beatae molestiae voluptas
          temporibus?
        </p>
      </div>
    </div>
  </footer>
</body>

</html>