<!-- All the cards have been changed to card-custom to inhibit materialize -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel="stylesheet" href="css/icon-font.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" type="image/png" href="img/spinner.gif">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
  <title>Kibbutz</title>
</head>

<body>
  <header class="header" id="header">
    <!-- <a href="index.html"> -->
    <div class="header-logo-box">
      <img src="img/spinner.gif" alt="Logo" class="header-logo">
    </div>
    <!-- </a> -->
    <div class="header-text-box">
      <h1 class="heading-primary">
        <span class="heading-primary-main">&#160;KIBBUTZ</span>
        <span class="heading-primary-sub">Some Quote .</span>
      </h1>
      <a href="#register" class="butn butn-orange butn-animated">Register</a>
      &#160; &#160;
      <a href="#login" class="butn butn-white butn-animated">Login</a>
    </div>
  </header>
  <main>
    <section class="section-about">
      <div class="row">
        <center>
          <h2 class="heading-secondary">About KIBBUTZ!</h2>
        </center>
        <div class="col-1-of-4">
          <div class="feature-box">
            <i class="feature-box-icon fas fa-chalkboard-teacher"></i>
            <h3 class="heading-tertiary u-margin-bottom-small">Connect with Farmers</h3>
            <p class="feature-box__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.
            </p>
          </div>
        </div>

        <div class="col-1-of-4">
          <div class="feature-box">
            <i class="feature-box-icon fas fa-graduation-cap">

            </i>
            <h3 class="heading-tertiary u-margin-bottom-small">Advice From Experts</h3>
            <p class="feature-box-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.
            </p>
          </div>
        </div>

        <div class="col-1-of-4">
          <div class="feature-box">
            <i class="feature-box-icon fas fa-pen-alt"></i>
            <h3 class="heading-tertiary u-margin-bottom-small">Share your Progress</h3>
            <p class="feature-box-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.
            </p>
          </div>
        </div>

        <div class="col-1-of-4">
          <div class="feature-box">
            <i class="feature-box-icon fas fa-flask"></i>
            <h3 class="heading-tertiary u-margin-bottom-small">Meet the Experts</h3>
            <p class="feature-box-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="foot">
    <div class="foot-logo-box">
      <img src="img/spinner.gif" alt="Logo" class="foot-logo">
    </div>
    <div class="row">
      <div class="col-1-of-2">
        <div class="foot-navigation">
          <ul class="foot-list">
            <li class="foot-item">
              <a href="#login" class="foot-link">Login</a>
            </li>
            <li class="foot-item">
              <a href="#register" class="foot-link">Register</a>
            </li>
            <li class="foot-item">
              <a href="#" class="foot-link">About Us</a>
            </li>
            <li class="foot-item">
              <a href="#" class="foot-link">Contact Us</a>
            </li>
            <li class="foot-item">
              <a href="#" class="foot-link">Terms</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-1-of-2">
        <p class="foot-copyright">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione amet maiores veniam, soluta quibusdam
          consectetur exercitationem
          corporis perferendis quia porro dolore dolorem aliquam unde asperiores numquam beatae molestiae voluptas
          temporibus?
        </p>
      </div>
    </div>
  </footer>
  <div class="popup" id="login">
    <div class="popup-content">
      <div class="row">
        <div class="login">
          <div class="login-form">
            <form action="/login" method="POST" class="forms">
              <div class="u-center-text">
                <h2 class="heading-secondary">
                  Login
                </h2>
              </div>
              <div class="forms-group">

                <a href="#header" class="popup-close">&times;</a>
                <input type="number" class="forms-input" placeholder="Mobile Number" id="number_login" name="number_login"
                  required>
                <label for="number_login" class="forms-label">Mobile Number</label>
              </div>

              <div class="forms-group">
                <input type="password" class="forms-input" placeholder="Password" id="password_login" name="password_login"
                  required>
                <label for="password_login" class="forms-label">Password</label>
              </div>
              <button class="butn butn-orange butn-animated" type="submit">login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="popup" id="register">
    <div class="popup-content">
      <div class="row">
        <div class="register">
          <div class="register-form">
            <form action="/register" method="POST" class="forms">
              <div class="u-center-text">
                <h2 class="heading-secondary">
                  Register
                </h2>
              </div>
              <div class="forms-group">
                <a href="#header" class="popup-close">&times;</a>
                <input type="text" class="forms-input" placeholder="Name" id="name_register" name="name_register"
                  required>
                <label for="name_register" class="forms-label">Name</label>
              </div>

              <div class="forms-group">
                <input type="number" class="forms-input" placeholder="Mobile Number" id="mobile_register" name="mobile_register"
                  required>
                <label for="mobile_register" class="forms-label">Moblie Number</label>
              </div>


              <!-- <div class="forms-group">
                <input type="email" class="forms-input" placeholder="Email Address" id="email" required>
                <label for="email" class="forms-label">Email Address</label>
              </div> -->

              <div class="forms-group">
                <input type="password" class="forms-input" placeholder="password" id="password_register" name="password_register"
                  required>
                <label for="password_register" class="forms-label">password</label>
              </div>

              <div class="forms-group">
                <input type="password" class="forms-input" placeholder="Confirm Password" id="password_repeat_register"
                  name="password_repeat_register" required>
                <label for="password_repeat_register" class="forms-label">Confirm password</label>
              </div>
              <!-- <a href="#" class="butn butn-orange butn-animated" type="submit">Register</a> -->
              <button type="submit" class="butn butn-animated butn-orange">Register</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>