<!DOCTYPE html>
<html>

<head>
  <title>Geolocation</title>
</head>

<body>
  <a href="#" id="get_location">Get location</a>
  <div id="map">
    <iframe id="google_map" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
      src="https://maps.google.co.in?output=embed"></iframe>
  </div>
  <script>
    var c = function (pos) {
      var lat = pos.coords.latitude,
        long = pos.coords.longitude,
        coords = lat + ', ' + long;
      document.getElementById('google_map').setAttribute('src', 'https://maps.google.co/in/?q=' + coords + '&z=60&output=embed');
    }
    document.getElementById('get_location').onclick = function () {
      navigator.geolocation.getCurrentPosition(c);

      return false;
    }
  </script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXNpwYS8DQDn7toINFsBnoeMwI5ToDTSw&libraries=places"></script>
  <!-- <script src="https://maps.googleapis.com/maps/api/place/textsearch/xml?query=restaurants+in+Sydney&key=AIzaSyDZhTOqIkUv98QxHTtb_b_1RH3VSSNHXaI"></script> -->
  <script
    src="https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=agriculturaldepartment&inputtype=textquery&fields=photos,formatted_address,name,opening_hours,rating&locationbias=circle:20000@rajpura&key=AIzaSyCXNpwYS8DQDn7toINFsBnoeMwI5ToDTSw"></script>
  <script>src = " https://www.google.com/maps/search/agricultural+departments/@27.3173126,79.4123312,6z?hl=en-US"</script>
  <script>
    // This example requires the Places library. Include the libraries=places
    // parameter when you first load the API. For example:
    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

    var map;
    var service;
    var infowindow;

    function initMap() {
      var rajpura = new google.maps.LatLng(30.8733031734, 76.8696598547);

      infowindow = new google.maps.InfoWindow();

      map = new google.maps.Map(
        document.getElementById('map'), { center: rajpura, zoom: 15 });

      var request = {
        query: 'Agricultural department',
        fields: ['name', 'geometry'],
      };
      var marker = new google.maps.Marker({
        position: (rajpura),
        map: map,
        title: 'my location'
      });

      service = new google.maps.places.PlacesService(map);

      service.findPlaceFromQuery(request, function (results, status) {
        if (status === google.maps.places.PlacesServiceStatus.OK) {
          for (var i = 0; i < results.length; i++) {
            createMarker(results[i]);
          }

          map.setCenter(results[0].geometry.location);
        }
      });
    }

    function createMarker(place) {
      var marker = new google.maps.Marker({
        map: map,
        position: place.geometry.location
      });

      google.maps.event.addListener(marker, 'click', function () {
        infowindow.setContent(place.name);
        infowindow.open(map, this);
      });
    }
  </script>

</body>

</html>