<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel="stylesheet" href="css/icon-font.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" type="image/png" href="img/spinner.gif">

  <title>Kibbutz</title>
</head>

<body>
  <main>
    <nav>
      <div class="navbar navbar-fixed green nav-wrapper">
        <a href="/news" class="brand-logo">&#160;&#160;News</a>
        <!-- <ul id="nav-mobile" class="left">
          <li>
            <h3>&#160;&#160;News</h3>
          </li>
        </ul> -->
        <ul id="nav-mobile" class="right">
          <li>
            <a href=" # ">About</a>
          </li>
          <li>
            <a href="# ">Contact</a>
          </li>
          <li>
            <a href="#">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="ytWidget"></div>
    <script
      src="https://translate.yandex.net/website-widget/v1/widget.js?widgetId=ytWidget&pageLang=en&widgetTheme=light&autoMode=false"
      type="text/javascript"></script>
    <ul class="collection">
      {{#each result}}
      <li class="collection-item avatar">
        <div class="row">

          <div class="col s12 m6 l3">
            <img src={{this.urlToImage}} style="width:auto;height:100px;"></img>
          </div>

          <div class="col s12 m6 l9">
            <h2 style="margin-top:0%">{{this.title}}</h2>
            <p>{{this.description}}</p>
            <a href={{this.url}} class="secondary-content">more...</a>
          </div>

        </div>
      </li>
      {{/each}}
    </ul>

  </main>
  <footer class="foot">
    <div class="foot-logo-box">
      <img src="img/spinner.gif" alt="Logo" class="foot-logo">
    </div>
    <div class="row">
      <div class="col-1-of-2">
        <div class="foot-navigation">
          <ul class="foot-list">
            <li class="foot-item">
              <a href="/" class="foot-link">Home</a>
            </li>
            <li class="foot-item">
              <a href="/queries" class="foot-link">Forums</a>
            </li>
            <li class="foot-item">
              <a href="#" class="foot-link">About Us</a>
            </li>
            <li class="foot-item">
              <a href="#" class="foot-link">Contact Us</a>
            </li>
            <li class="foot-item">
              <a href="#" class="foot-link">Terms</a>
            </li>
            <li class="foot-item">
              <a href="#" class="foot-link">Logout</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-1-of-2">
        <p class="foot-copyright">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione amet maiores veniam, soluta quibusdam
          consectetur exercitationem
          corporis perferendis quia porro dolore dolorem aliquam unde asperiores numquam beatae molestiae voluptas
          temporibus?
        </p>
      </div>
    </div>
  </footer>
</body>

</html>