<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel="stylesheet" href="css/icon-font.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" type="image/png" href="img/spinner.gif">

  <title>Kibbutz</title>
</head>

<body>
  <main>
    <nav>
      <div class="navbar navbar-fixed green nav-wrapper">
        <a href="/news" class="brand-logo">&#160;&#160;Forum</a>
        <!-- <ul id="nav-mobile" class="left">
          <li>
            <h3>&#160;&#160;News</h3> 
          </li>
        </ul> -->
        <ul id="nav-mobile" class="right">
          <li>
            <a href=" # ">About</a>
          </li>
          <li>
            <a href="# ">Contact</a>
          </li>
          <li>
            <a href="#">Logout</a>
          </li>
        </ul>
      </div>
    </nav>


    <ul class="collection">
      {{#each result}}
      <li class="collection-item avatar">
        <h2 style="margin-top:0%">{{this.title}}</h2>
        <h5>{{this.content}}</h5>
        <hr>
        <p><i>By: {{this.user}}</i></p>
        <p><i>Crop: {{this.crop}}</i></p>
      </li>
      {{/each}}
    </ul>


    <center><a style="margin:1%" href="#addQuery" class="butn butn-orange butn-animated">Add Query</a></center>
    </div>

  </main>
  <footer class="foot">
    <div class="foot-logo-box">
      <img src="img/spinner.gif" alt="Logo" class="foot-logo">
    </div>
    <div class="row">
      <div class="col-1-of-2">
        <div class="foot-navigation">
          <ul class="foot-list">
            <li class="foot-item">
              <a href="/" class="foot-link">Home</a>
            </li>
            <li class="foot-item">
              <a href="/news" class="foot-link">News</a>
            </li>
            <li class="foot-item">
              <a href="/queries" class="foot-link">Forums</a>
            </li>
            <li class="foot-item">
              <a href="#" class="foot-link">About Us</a>
            </li>
            <li class="foot-item">
              <a href="#" class="foot-link">Contact Us</a>
            </li>
            <li class="foot-item">
              <a href="#" class="foot-link">Terms</a>
            </li>
            <li class="foot-item">
              <a href="#" class="foot-link">Logout</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-1-of-2">
        <p class="foot-copyright">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione amet maiores veniam, soluta quibusdam
          consectetur exercitationem
          corporis perferendis quia porro dolore dolorem aliquam unde asperiores numquam beatae molestiae voluptas
          temporibus?
        </p>
      </div>
    </div>
  </footer>
  <div class="popup" id="addQuery">
    <div class="popup-content">
      <div class="row">
        <div class="query">
          <div class="register-form">
            <form action="/addQuery" method="POST" class="forms">
              <div class="u-center-text">
                <h2 class="heading-secondary">
                  Add Query
                </h2>
              </div>
              <div class="forms-group">
                <a href="#header" class="popup-close">&times;</a>
                <input type="text" class="forms-input" placeholder="Name (For Display)" id="name_query"
                  name="name_query" required>
                <label for="name_query" class="forms-label">Name</label>
              </div>

              <div class="forms-group">
                <input type="text" class="forms-input" placeholder="Crop" id="crop_query" name="crop_query" required>
                <label for="crop_query" class="forms-label">Crop</label>
              </div>

              <div class="forms-group">
                <textarea class="forms-input" placeholder="Title of the query" id="title_query" name="title_query"
                  required></textarea>
                <label for="title_query" class="forms-label">Title</label>
              </div>

              <div class="forms-group">
                <textarea type="password" class="forms-input" placeholder="Content of the query" id="content_query"
                  name="content_query" required></textarea>
                <label for="content_query" class="forms-label">Content</label>
              </div>
              <button type="submit" class="butn butn-animated butn-orange">Add Query</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>