<!-- All the cards have been changed to card-custom to inhibit materialize -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel="stylesheet" href="css/icon-font.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" type="image/png" href="img/favicon.ico">

  <title>Mass | Towards Excellence</title>
</head>

<body>
  <nav>
    <div class="navbar navbar-fixed orange nav-wrapper">
      <a href="user.html" class="brand-logo">
        <img src="img/favicon.ico" alt="Logo" </a> <ul id="nav-mobile" class="right">
        <li>
          <a href=" # ">About</a>
        </li>
        <li>
          <a href="# ">Contact</a>
        </li>
        <li>
          <a href="index.html">Logout</a>
        </li>
        </ul>
    </div>
  </nav>
  <main>
    <section class="admin-questions">
      <div class="card">
        <h2>Chapter 1</h2>
        <hr>
        <h4>1. What is the center of gravity of earth?</h4>
        <h5>A) 9.8</h5>
        <h5>B) 9.4</h5>
        <h5>C) 9.1</h5>
        <h5>D) 9.2</h5>
        <input type="text" placeholder="Enter The Answer For the above Question">
        <h4>2. What is the center of gravity of earth?</h4>
        <h5>A) 9.8</h5>
        <h5>B) 9.4</h5>
        <h5>C) 9.1</h5>
        <h5>D) 9.2</h5>
        <input type="text" placeholder="Enter The Answer For the above Question">
        <h4>3. What is the center of gravity of earth?</h4>
        <h5>A) 9.8</h5>
        <h5>B) 9.4</h5>
        <h5>C) 9.1</h5>
        <h5>D) 9.2</h5>
        <input type="text" placeholder="Enter The Answer For the above Question">
        <h4>4. What is the center of gravity of earth?</h4>
        <h5>A) 9.8</h5>
        <h5>B) 9.4</h5>
        <h5>C) 9.1</h5>
        <h5>D) 9.2</h5>
        <input type="text" placeholder="Enter The Answer For the above Question">
        <h4>5. What is the center of gravity of earth?</h4>
        <h5>A) 9.8</h5>
        <h5>B) 9.4</h5>
        <h5>C) 9.1</h5>
        <h5>D) 9.2</h5>
        <input type="text" placeholder="Enter The Answer For the above Question">
        <a href="#" class="butn butn-orange">Submit</a>
      </div>
      <div class="card">
        <h2>Chapter 2</h2>
        <hr>
        <h4>1. What is the center of gravity of earth?</h4>
        <h5>A) 9.8</h5>
        <h5>B) 9.4</h5>
        <h5>C) 9.1</h5>
        <h5>D) 9.2</h5>
        <input type="text" placeholder="Enter The Answer For the above Question">
        <h4>2. What is the center of gravity of earth?</h4>
        <h5>A) 9.8</h5>
        <h5>B) 9.4</h5>
        <h5>C) 9.1</h5>
        <h5>D) 9.2</h5>
        <input type="text" placeholder="Enter The Answer For the above Question">
        <h4>3. What is the center of gravity of earth?</h4>
        <h5>A) 9.8</h5>
        <h5>B) 9.4</h5>
        <h5>C) 9.1</h5>
        <h5>D) 9.2</h5>
        <input type="text" placeholder="Enter The Answer For the above Question">
        <h4>4. What is the center of gravity of earth?</h4>
        <h5>A) 9.8</h5>
        <h5>B) 9.4</h5>
        <h5>C) 9.1</h5>
        <h5>D) 9.2</h5>
        <input type="text" placeholder="Enter The Answer For the above Question">
        <h4>5. What is the center of gravity of earth?</h4>
        <h5>A) 9.8</h5>
        <h5>B) 9.4</h5>
        <h5>C) 9.1</h5>
        <h5>D) 9.2</h5>
        <input type="text" placeholder="Enter The Answer For the above Question">
        <a href="#" class="butn butn-orange">Submit</a>
      </div>
    </section>
  </main>
  </main>
  <footer class="foot">
    <div class="foot-logo-box">
      <img src="img/favicon.ico" alt="Logo" class="foot-logo">
    </div>
    <div class="row">
      <div class="col-1-of-2">
        <div class="foot-navigation">
          <ul class="foot-list">
            <li class="foot-item">
              <a href="class-user.html" class="foot-link">Class</a>
            </li>
            <li class="foot-item">
              <a href="#" class="foot-link">About Us</a>
            </li>
            <li class="foot-item">
              <a href="#" class="foot-link">Contact Us</a>
            </li>
            <li class="foot-item">
              <a href="#" class="foot-link">Terms</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-1-of-2">
        <p class="foot-copyright">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione amet maiores veniam, soluta quibusdam
          consectetur exercitationem
          corporis perferendis quia porro dolore dolorem aliquam unde asperiores numquam beatae molestiae voluptas
          temporibus?
        </p>
      </div>
    </div>
  </footer>
</body>

</html>