<!-- All the cards have been changed to card-custom to inhibit materialize -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel="stylesheet" href="css/icon-font.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" type="image/png" href="img/spinner.gif">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <title>Kibbutz</title>
</head>

<body>
  <header class="header" id="header">
    <!-- <a href="index.html"> -->
    <div class="header-logo-box">
      <img src="img/spinner.gif" alt="Logo" class="header-logo">
    </div>
    <!-- </a> -->
    <div id="ytWidget"></div>
    <script
      src="https://translate.yandex.net/website-widget/v1/widget.js?widgetId=ytWidget&pageLang=en&widgetTheme=light&autoMode=false"
      type="text/javascript"></script>
    <div class="header-text-box">
      <h1 class="heading-primary">
        <!-- <span class="heading-primary-main">&#160;KIBBUTZ</span> -->
        <span class="heading-primary-sub">{{message}}</span>
      </h1>
      <center>
        <a href={{link}} class="butn butn-animated butn-white">{{button}}</a>
      </center>

  </header>
</body>