// all The @include respond(arguments) are added in this part of the section.
.foot {
  background-color: $color-grey-dark-3;
  padding: 2rem 0; // This is modified.
  font-size: 1.4rem;

  @include respond(tab) {
    padding: 1rem 0;
  }

  &-logo-box {
    text-align: center;
    margin-bottom: .5rem; // This is modified.

    @include respond(tab) {
      margin-bottom: .5rem;
    }
  }

  &-logo {
    width: 15rem;
    height: auto;
  }

  &-navigation {
    margin-left: 20%;
    border-top: 1px solid $color-grey-dark-2;
    padding-top: 2rem; // This is modified.
    display: inline-block;

    @include respond(tab) {
      margin-left: 0;
      width: 100%;
      text-align: center;
    }
  }

  &-item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &-link {

    &:link,
    &:visited {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
    }

    &:hover,
    &:active {
      color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, .4);
    }
  }

  &-copyright {
    border-top: 1px solid $color-grey-dark-2;
    padding-top: 2rem; // This is modified.
    display: inline-block;
    width: 80%; // This is modified.

    @include respond(tab) {
      text-align: center;
      width: 100%;
      float: none;
    }
  }
}