// all The @include respond(arguments) are added in this part of the section.
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  zoom: 100%;

  @include respond(laptop) {
    font-size: 56.25%;
  }

  @include respond(tab) {
    font-size: 50%;
  }

  @include respond(desktop) {
    font-size: 75%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;

  @include respond(tab) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}