/*
 $breakpoint - possible arguments
 - phone(600px)
 - tab(900px)
 - laptop(1200px)
 - desktop(1800+)
 - By default it is(1200 - 1800px).
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  zoom: 100%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #25db5c;
  color: #fff; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary-main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    margin-bottom: 15px;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary-main {
        letter-spacing: 1rem;
        font-family: 5rem; } }
  .heading-primary-sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    margin-bottom: -10px;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 56.25em) {
      .heading-primary-sub {
        font-size: 1.8rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-primary-sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #94ffcd, #058549);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.brand-logo img {
  height: 75px;
  width: 100px; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: initial; }

.butn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }
  .butn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
    .butn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .butn:active, .butn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .butn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .butn-white {
    background-color: #fff;
    color: #777; }
    .butn-white::after {
      background-color: #fff; }
  .butn-orange {
    background-color: #25db5c;
    color: #fff; }
    .butn-orange::after {
      background-color: #25db5c; }
  .butn-animated {
    animation: moveInBottom .5s ease-out .5s;
    animation-fill-mode: backwards; }

.forms-group:not(:last-child) {
  margin-bottom: 2rem; }

.forms-input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block; }
  @media only screen and (max-width: 56.25em) {
    .forms-input {
      width: 10%; } }
  .forms-input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }
  .forms-input:focus:invalid {
    border-bottom: 3px solid #25db5c; }

.forms::-webkit-input-placeholder {
  color: #999; }

.forms-label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.forms-input:placeholder-shown + .forms-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.popup {
  text-align: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.25);
    width: 60%;
    height: auto;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    transition: all .4s .2s; }
  .popup-left {
    width: 33.333333%;
    display: table-cell; }
  .popup-right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup-img {
    display: block;
    width: 100%; }
  .popup-text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #eee;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup-content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup-close:link, .popup-close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 0; }
  .popup-close:hover {
    color: #25db5c; }

.card-custom {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card-custom-side {
    height: 50rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card-custom-side-front {
      background-color: #fff; }
    .card-custom-side-back {
      transform: rotateY(180deg); }
      .card-custom-side-back-1 {
        background-image: linear-gradient(to right bottom, #d59d6f, #ac3803); }
      .card-custom-side-back-2 {
        background-image: linear-gradient(to right bottom, #94ffcd, #058549); }
      .card-custom-side-back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card-custom:hover .card-custom-side-front {
    transform: rotateY(-180deg); }
  .card-custom:hover .card-custom-side-back {
    transform: rotateY(0); }
  .card-custom-picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card-custom-picture-1 {
      background-image: linear-gradient(to right bottom, #d59d6f, #ac3803), url(../img/wheat.jpeg); }
    .card-custom-picture-2 {
      background-image: linear-gradient(to right bottom, #94ffcd, #058549), url(../img/paddy.jpg); }
    .card-custom-picture-3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/maize.jpg); }
  .card-custom-heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card-custom-heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card-custom-heading-span-1 {
      background-image: linear-gradient(to right bottom, rgba(213, 157, 111, 0.85), rgba(172, 56, 3, 0.85)); }
    .card-custom-heading-span-2 {
      background-image: linear-gradient(to right bottom, rgba(148, 255, 205, 0.85), rgba(5, 133, 73, 0.85)); }
    .card-custom-heading-span-3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card-custom-details {
    padding: 3rem; }
    .card-custom-details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card-custom-details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card-custom-details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card-custom-cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card-custom-price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card-custom-price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card-custom-price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card-custom {
      height: auto;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card-custom-side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card-custom-side-back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); }
      .card-custom:hover .card-custom-side-front {
        transform: rotateY(0); }
      .card-custom-details {
        padding: 1rem 3rem; }
      .card-custom-cta {
        position: relative;
        top: 0%;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; }
      .card-custom-price-box {
        margin-bottom: 3rem; }
      .card-custom-price-value {
        font-size: 4rem; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 114rem;
      padding: 0 0; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  @media only screen and (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box-icon {
    font-size: 10rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #94ffcd, #058549);
    -webkit-background-clip: text;
    color: transparent; }
    @media only screen and (max-width: 56.25em) {
      .feature-box-icon {
        margin-bottom: 0; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(148, 255, 205, 0.635), #058549), url(../img/img1.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header-logo {
    height: 100px; }
  @media only screen and (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header-logo-box {
    clip-path-position: absolute;
    clip-path-top: 40px;
    clip-path-left: 40px; }
  .header-text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.foot {
  background-color: #333;
  padding: 2rem 0;
  font-size: 1.4rem; }
  @media only screen and (max-width: 56.25em) {
    .foot {
      padding: 1rem 0; } }
  .foot-logo-box {
    text-align: center;
    margin-bottom: .5rem; }
    @media only screen and (max-width: 56.25em) {
      .foot-logo-box {
        margin-bottom: .5rem; } }
  .foot-logo {
    width: 15rem;
    height: auto; }
  .foot-navigation {
    margin-left: 20%;
    border-top: 1px solid #999;
    padding-top: 2rem;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .foot-navigation {
        margin-left: 0;
        width: 100%;
        text-align: center; } }
  .foot-item {
    display: inline-block; }
    .foot-item:not(:last-child) {
      margin-right: 1.5rem; }
  .foot-link:link, .foot-link:visited {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block; }
  .foot-link:hover, .foot-link:active {
    color: #25db5c;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
  .foot-copyright {
    border-top: 1px solid #999;
    padding-top: 2rem;
    display: inline-block;
    width: 80%; }
    @media only screen and (max-width: 56.25em) {
      .foot-copyright {
        text-align: center;
        width: 100%;
        float: none; } }

.section-about {
  background-color: #f7f7f7;
  padding-top: 20rem;
  padding-bottom: 5rem;
  margin-top: -20vh;
  clip-path: polygon(); }

.login {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../img/computer-card.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
  height: 45rem; }
  .login-form {
    width: 100%;
    padding: 6rem; }

.register {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../img/computer-card.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
  height: 51rem; }
  .register-form {
    width: 100%;
    padding: 1rem 6rem; }

.section-subject {
  background-color: #f7f7f7;
  padding: 30rem 0 1rem 0;
  margin-top: -20rem; }

#section-admin-class {
  margin-top: -4rem;
  padding-top: 7.5rem; }

.section-class-crud {
  padding-top: 5rem;
  padding-bottom: 10rem;
  background-image: linear-gradient(to right bottom, #94ffcd, #058549); }

.class-crud {
  background-image: linear-gradient(rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.9) 100%), url(../img/computer-card.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  height: auto;
  margin-left: 5%;
  width: 90%; }
  .class-crud-form {
    width: 80%;
    padding: 6rem; }
    @media only screen and (max-width: 56.25em) {
      .class-crud-form {
        width: 100%;
        padding: 4rem; } }

.section-subject-crud {
  padding-top: 5rem;
  padding-bottom: 10rem;
  background-image: linear-gradient(to right bottom, #94ffcd, #058549); }

.subject-crud {
  background-image: linear-gradient(rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.9) 100%), url(../img/computer-card.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  height: auto;
  margin-left: 5%;
  width: 90%; }
  .subject-crud-form {
    width: 70%;
    padding: 6rem; }
    @media only screen and (max-width: 56.25em) {
      .subject-crud-form {
        width: 100%;
        padding: 4rem; } }

.admin-questions {
  background-color: #f7f7f7;
  padding: 5rem; }
  .admin-questions .card {
    padding: 2.5rem 5rem;
    height: auto; }
    .admin-questions .card h4 {
      margin-top: 2.5rem; }
