// all The @include respond(arguments) are added in this part of the section.


.section-subject {
  background-color: $color-grey-light-1;
  padding: 30rem 0 1rem 0;
  margin-top: -20rem;
}

#section-admin-class {
  margin-top: -4rem;
  padding-top: 7.5rem;
}

.section-class-crud {
  padding-top: 5rem;
  padding-bottom: 10rem;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
  // text-align: center;
}

.class-crud {
  background-image: linear-gradient(rgba($color-white, .8) 0%, rgba($color-white, .9) 100%), url(../img/computer-card.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
  height: auto;
  margin-left: 5%;    // This is added.
  width: 90%;

  &-form {
    width: 80%;
    padding: 6rem;

    @include respond(tab) {
      width: 100%;
      padding: 4rem;
    }
  }
}

.section-subject-crud {
  padding-top: 5rem;
  padding-bottom: 10rem;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.subject-crud {
  background-image: linear-gradient(rgba($color-white, .85) 0%, rgba($color-white, .9) 100%), url(../img/computer-card.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
  height: auto;
  margin-left: 5%; // This is added.
  width: 90%;

  &-form {
    width: 70%;
    padding: 6rem;

    @include respond(tab) {
      width: 100%;
      padding: 4rem;
    }
  }
}

.admin-questions {
  background-color: $color-grey-light-1;
  padding: 5rem;

  .card {
    padding: 2.5rem 5rem;
    height: auto;

    h4 {
      margin-top: 2.5rem;
    }
  }
}